@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-mobile: 40rem;  /* 640px */
  --breakpoint-tablet: 64rem;  /* 1024px */

  --font-sans: var(--font-oug);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 450;
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
